//---------------------------------------------extends
%default_field {
	padding: 0 $input_paddings;
	min-width: $input_width;
	height: $input_height;
	color: $input_text_color;
	border-radius: $input_radius;
	border: 1px solid $input_border;

	&::placeholder {
		color: $input_placeholder_color;
	}
}

//---------------------------------------------form
.form {
	display: flex;
	margin: 1rem;
	border: 2px dashed #ff5d15;
	//background-color: rgba(255, 59, 0, 0.15);

	&-col {
		flex: 1 1 50%;
	}
}

//---------------------------------------------form-field
.form-field {
	margin: 1rem;
	padding: 1rem;
	border: 1px dotted #1579fe;

	// labels
	&__label {
		display: block;
		margin-bottom: .5rem;
		width: 100%;
		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		&_hidden {
			display: none;
		}

		&_radiocheck {

		}
	}

	// input
	&__input {
		@extend %default_field;

		&[disabled] {
			background-color: #c0c0c0;
		}
	}

	// file
	&__file {
		display: none;

		&_cta {
			display: inline-block;
			padding: .5rem 1rem;
			cursor: pointer;
			border-radius: .5rem;
			border: 1px solid $color_2;
			background-color: $color_1;
			transition: all .2s ease;

			&:hover {
				background-color: darken($color_1, 10%);
			}
		}
	}

	// textarea
	&__textarea {
		@extend %default_field;

		padding: $input_paddings;
		height: auto;
	}

	// select
	&__select {
		@extend %default_field;
	}

	// radiobuttons and checkboxes
	&__radiocheck {
		display: none;
	}

	&__text {
		position: relative;
		padding-left: 2.6rem;

		&:before, &:after {
			position: absolute;
			display: block;
			content: '';
			transition: opacity .2s ease;
		}

		&:before {
			top: 0;
			left: 0;
			width: 1.6rem;
			height: 1.6rem;
			border: 1px solid $input_text_color;
		}

		&:after {
			top: .4rem;
			left: .4rem;
			width: .8rem;
			height: .8rem;
			border-radius: .2rem;
			background-color: $input_text_color;
			opacity: 0;
		}

		&_check {
			&:before {
				border-radius: .1rem;
			}
		}

		&_radio {
			&:before {
				border-radius: 50%;
			}

			&:after {
				border-radius: 50%;
			}
		}

		.form-field__radiocheck:checked + & {
			&:after {
				opacity: 1;
			}
		}
	}
}