//---------------------------------------------variables
$color_1: #c0c0c0;
$color_2: #9d9d9d;

$input_width: 28rem;
$input_paddings: 1.4rem;
$input_height: 4rem;
$input_radius: .4rem;
$input_border: $color_2;
$input_text_color: #333;
$input_placeholder_color: #777;
$input_background: $color_1;
