-
	mtdFieldsWrapper = {
		default: 'form-field',
		another: 'mtd-field'
	}

-
	mtdFields = {
		label: mtdFieldsWrapper.default + '__label',
		types: {
			default: mtdFieldsWrapper.default + '__input',
			file: mtdFieldsWrapper.default + '__file',
			radio: mtdFieldsWrapper.default + '__radiocheck',
			checkbox: mtdFieldsWrapper.default + '__radiocheck',
			select: mtdFieldsWrapper.default + '__select',
			textarea: mtdFieldsWrapper.default + '__textarea'
		},
		mods: {
			hiddenLabel: mtdFieldsWrapper.default + '__label_hidden',
			checkboxTextSpan: mtdFieldsWrapper.default + '__text_check',
			radioTextSpan: mtdFieldsWrapper.default + '__text_radio'
		}
	}