-
	fields = {
		label: 'form-field__label',
		types: {
			default: 'form-field__input',
			file: 'form-field__file',
			radio: 'form-field__radiocheck',
			checkbox: 'form-field__radiocheck',
			select: 'form-field__select',
			textarea: 'form-field__textarea'
		},
		mods: {
			hiddenLabel: 'form-field__label_hidden',
			checkboxTextSpan: 'form-field__text_check',
			radioTextSpan: 'form-field__text_radio'
		}
	}